@{
    ViewData["Title"] = "Home Page";
}

<p>Views/Home/Index.cshtml</p>
@*<p>Resolver: @Model.Device.ToString()</p>*@

<device include="mobile">mobile only</device>
<device exclude="mobile">not mobile</device>